* {
    margin: 0px;
    padding: 0px;
    font-size: 100px;
    font-weight: 600;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: top;
    border: none;
}

.num {
    text-align: center;
}

.slide {
    position: relative;

    overflow: hidden;
}

.panel {
    width: 400%;
}

.panel:after {
    content: "";
    display: block;
    clear: both;
}

.panel>li {
    width: 25%;
    height: 400px;
    float: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.panel>li:nth-of-type(1) {
    background-color: red;
}

.panel>li:nth-of-type(2) {
    background-color: blue;
}

.panel>li:nth-of-type(3) {
    background-color: green;
}

.dot:after {
    content: "";
    display: block;
    clear: both;
}

.dot {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}

.dot>li {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    text-indent: -9999px;
    cursor: pointer;
}

.dot>li.on {
    background-color: #342f2f;
}

.prev {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
}

.next {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
}